body {
  background: #8ed2c9;
}

h1 {
  color: #00948a;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  text-decoration: underline;
}
header {
  margin-bottom: 30px;
}
.form-wrapper {
  box-shadow: 0px 20px 60px rgba(246, 169, 25, 0.33);
  padding: 30px;
  background-color: #fafafa;
  border: 2px solid #8ed2c9;
  border-style: double;
  border-radius: 15px;
  margin-bottom: 35px;
}
.hint {
  padding-top: 20px;
  line-height: 1.5px;
  font-size: 12px;
  color: #d55b3e;
}
form {
  display: flex;
}
footer {
  text-align: center;
  font-size: 18px;
  color: #d55b3e;
}
a {
  color: #00948a;
}

.container {
  background-color: #fcf4d9;
  border-radius: 15px;
  border: 2px solid #00948a;
  margin: 120px auto;
  max-width: 650px;
  padding: 30px;
}
.instructions {
  padding: 16px;
  width: 80%;
  border-radius: 20px;
  background-color: white;
  border: none;
  font-size: 14px;

  color: #00948a;
}
.submit-button {
  border-radius: 20px;
  border: none;
  margin-left: 5px;
  background-color: #00948a;
  font-size: 14px;
  color: #fafafa;
  width: 75px;
}
.recipe {
  font-size: 16px;
  border: 2px solid #8ed2c9;
  border-radius: 15px;
  padding: 20px;
  line-height: 24px;
  box-shadow: 0px 20px 60px rgba(246, 169, 25, 0.33);
  margin-bottom: 35px;
}
.hidden {
  display: none;
}
.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pompiere-regular {
  font-family: "Pompiere", sans-serif;
  font-weight: 400;
  font-style: normal;
}
